﻿
<div id="footer-container">
    <!--<div id="footerlogo">
        <img src="../../Images/Imgs/cwcLogo.jpg" alt="Cognicove Inc" title="Cognicove Inc"/>
    </div>-->
    <div id="footernav">
        <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Prvacy Policy</a></li>
        </ul>
    </div>
    <div id="footercopyright">
        <p>&copy; 2014, Spectrum Warriors' Inc. All Rights Reserved.</p>
    </div>
    <div id="sociallinks">
        <a href="#"><img src="../../Images/Imgs/facebookIcon.jpg" title="Cognicove Facebook Page" alt="Cognicove Facebook Page"/></a>
        <a href="#"><img src="../../Images/Imgs/twitterIcon.jpg" title="Cognicove Twitter Page" alt="Cognicove Twitter Page" /></a>
    </div>
</div>
