﻿
<div id="header-container">
    <div id="logo">
        <img src="../../Images/Imgs/bitbooklogo.png" title="Bit Book" alt="Bit Book Text"/>
    </div>
    <div id="nav" data-ng-controller="topMenuController">
        <ul>
            <li data-ng-repeat="appTopMenu in appTopMenus" data-ng-class="{ 'navTabIsCurrent': $index == selectedTopMenuIndex }">
                <a data-ng-click="clickAppTopMenu(appTopMenu.url, $index)">{{appTopMenu.text}}</a>
            </li>
        </ul>
    </div>
    <div id="loggedin" data-ng-controller="signinController">
        <div id="loggedinright">
            <img src="{{PhotoPath}}" title="Profile Picture" alt="Profile Picture" />
        </div>

        <div id="loggedinleft"  >
            <p class="playername">{{FullName}}</p>
            
            <p data-ng-controller="topMenuController">
                <a data-ng-click="show('showprofile')">Profile</a> | 
                <a data-ng-click="show('password')">Password</a> | 
                <span data-ng-controller="signinController">
                    <a href="#" data-ng-click="signOut()">Sign Out</a>
                </span>
            </p>
        </div>
    </div>
</div>
