﻿
<div>

	<div data-ng-include="messagePageLocation"></div>
    <br/>
    <table id="userDataTable" class="table" my-table="overrideOptions" ao-column-defs="columnDefs" fn-row-callback="myRowCallback" fn-draw-callback="myDrawCallback">
        
    </table>

</div>
