﻿
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-2">
            <form class="facebook-share-box">
                
                <div class="share">
                    <div class="panel panel-default">
                        <div class="panel-heading"><i class="fa fa-file"></i> Update Status</div>
                        <div class="panel-body">
                            <div class="">
                                <textarea name="message" cols="40" rows="10" id="status_message" class="form-control message" style="height: 62px; overflow: hidden;"
                                          placeholder="What's on your mind ?" data-ng-model="statusObj.Status"></textarea> 
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default"><i class="icon icon-map-marker"></i> Location</button>
                                            <button type="button" class="btn btn-default"><i class="icon icon-picture"></i> Photo</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <select name="privacy" class="form-control privacy-dropdown pull-left input-sm" style="width: 110px;">
                                            <option value="1" selected="selected">Public</option>
                                            <option value="2">Only my friends</option>
                                            <option value="3">Only me</option>
                                        </select>                                    
                                        <!--<input type="submit" name="submit" value="Post" class="btn btn-primary"> -->  
                                        &nbsp;&nbsp;
                                        <button class="btn btn-primary" data-ng-click="saveStatus(statusObj)">Post</button>                             
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
        <table id="timeLineDataTable" class="timeline" align="center" 
               my-table="overrideOptions" ao-column-defs="columnDefs" fn-row-callback="myRowCallback" 
            fn-draw-callback="myDrawCallback">
        
        </table>
    
    

</div> 

<style>
    
</style>
