﻿
<div>

	<div data-ng-include="messagePageLocation"></div>

	<h2 class="profileHead">Profile</h2>
    <div class="row-fluid">
        <div class="span10 signin-cont">
            <div class="span4">
                <div class="area">
                        <div class="control-group">

                            <img class="profileImage" src="{{userInfo.PhotoPath}}" title="CWC" alt="CWC"/>

                        </div>

                        <div id="upload-photo">
                            <input title="Upload/Change Photo" type="file" ng-file-select="onFileSelect($files)" >
                        </div>
                </div>
            </div>

            <div class="span6">
                <div class="area">
                    <form class="form-horizontal">
                        <div class="heading">
                            <h4 class="form-heading">{{userInfo.FirstName}}</h4>
                        </div>

                        <div class="control-group profile-group">
                            <label class="control-label" for="inputFirst">First
                                Name</label>

                            <div class="controls">
                                {{userInfo.FirstName}}
                            </div>
                        </div>

                        <div class="control-group profile-group">
                            <label class="control-label" for="inputLast">Last
                                Name</label>

                            <div class="controls">
                                {{userInfo.LastName}}
                            </div>
                        </div>

                        <div class="control-group profile-group">
                            <label class="control-label" for=
                                "inputEmail">Email</label>

                            <div class="controls">
                                {{userInfo.LoginId}}
                            </div>
                        </div>

                        <div class="control-group profile-group">
                            <label class="control-label">Gender</label>

                            <div class="controls">
                                {{userInfo.Gender}}
                            </div>
                        </div>

                        <div class="control-group profile-group" style="border-bottom:none;">
                            <div class="controls">
                                <button class=
                                    "btn btn-success" type="submit">Edit</button> 
                            </div>
                        </div>

                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>





<style>
.profile-group {border-bottom: 1px solid #E4E4E4; margin-bottom: 3px !important; padding-bottom: 3px;}
.profile-group .controls {padding-top: 5px;}
.control-group .profileImage {height:160px; width:180px;}
.profileHead {color:#000000;}
#upload-photo{margin-top: 22px;    padding-left: 12px;}
.signin-cont {background-color: #FFF; padding: 20px;}	
.signin-cont input {height: 30px;}
.signInFoot {text-align: center; margin-top: 24px; margin-bottom: 20px;}
.signInFoot img {height: 100px; width: 100px;}
</style>