﻿
<div>

	<div data-ng-include="messagePageLocation"></div>

	<div class="row">
		<div class="col-lg-12">
			<ol class="breadcrumb">
				<li>Question Entry</li>
			</ol>
		</div>
	</div>

	<div class="row">

		<div class="col-lg-4">

			<form role="form">
				
				<div class="form-group">
					<label>Question</label>
					<textarea class="form-control" rows="3"
						data-ng-model="question.QuestionDescription"></textarea>
				</div>

				<button type="submit" class="btn btn-primary"
					data-ng-click="saveQuestion(question)">Submit</button>
				<button type="reset" class="btn btn-default btn-sm"
					data-ng-click="cancelQuestion()">Cancel</button>

			</form>

		</div>

	</div>

</div>

