
<div class="container">
    <div data-ng-include="messagePageLocation"></div>
    <div class="row-fluid">
        <div class="span12 signin-cont">
            <div class="span6">
                <div class="area">
                    <form class="form-horizontal">
                        <div class="heading">
                            <h4 class="form-heading">Sign In</h4>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for=
                                "inputUsername">Username/Email</label>

                            <div class="controls">
                                <input id="inputUsername" placeholder=
                                    "Enter Email Address" autofocus="autofocus" 
                                       data-ng-model="userInfo.LoginId" type="text"/>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for=
                                "inputPassword">Password</label>

                            <div class="controls">
                                <input id="inputPassword" placeholder = "Enter Password" 
                                       data-ng-model="userInfo.Password" type="password"/>
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="controls">
                                <button class="btn btn-success" data-ng-click="signIn(userInfo)" type= "submit">Sign In</button> 

                            </div>
                            <button class="btn btn-danger googlebtn" data-ng-click="login()" type= "submit">Sign In with Google</button>
                            
                            <div ng-app="directive.g+signin">
                                    <google-plus-signin clientid="1066335131262-j0j40fauqr6sfflrmusq3tr215siu94h.apps.googleusercontent.com"></google-plus-signin>
                                    
                            </div>
                            

                        </div>

                        
                    </form>
                </div>
            </div>

            <div class="span6">
                <div class="area" data-ng-controller="userController">
                    <form class="form-horizontal">
                        <div class="heading">
                            <h4 class="form-heading">Sign Up</h4>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="inputFirst">First
                                Name</label>

                            <div class="controls">
                                <input id="inputFirst" placeholder=
                                    "Enter First Name" type="text" data-ng-model="newUserInfo.FirstName"/>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="inputLast">Last
                                Name</label>

                            <div class="controls">
                                <input id="inputLast" placeholder="Enter Last Name"
                                       type="text" data-ng-model="newUserInfo.LastName"/>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for=
                                "inputEmail">Email</label>

                            <div class="controls">
                                <input id="inputEmail" placeholder=
                                    "Enter Email Address" type="text" data-ng-model="newUserInfo.Email"/>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for=
                                "inputPassword">Password</label>

                            <div class="controls">
                                <input id="Password1" placeholder=
                                    "Enter Password" type="password" data-ng-model="newUserInfo.Password"/>
                            </div>
                        </div>
                        
                        <div class="control-group">
                            <label class="control-label" for=
                                "inputPassword">Gender</label>

                            <div class="controls">
							<input type="radio" id="rdoMale" name="rdoGender" value="Male" checked="checked"  data-ng-model="newUserInfo.Gender"><span>Male</span>&nbsp;&nbsp;
							<input type="radio" id="rdoFemale" name="rdoGender" value="Female" data-ng-model="newUserInfo.Gender"><span>Female</span>

                            </div>
                        </div>

                        <div class="control-group">
                            <div class="controls">
                                <button class= "btn btn-success" data-ng-click="createNewUser(newUserInfo)">Sign Up</button>
                            </div>
                        </div>

                        
                    </form>
                </div>
            </div>
        </div>
    </div>
     
</div>
<div class="controls">
        <button id ="gLogin" style = "display:none;" data-ng-click="confirm()" type= "submit">Sign In</button> 

    </div>
<style>
.signin-cont {background-color: #FFF; padding: 10px; margin-top: 20px;}	
.signin-cont input {height: 28px;}
.signInFoot {text-align: center; margin-top: 24px; margin-bottom: 20px;}
.signInFoot img {height: 100px; width: 100px;}
</style>