<div>

	<div data-ng-include="messagePageLocation"></div>

	<div class="row">
		<div class="col-lg-12">
			<ol class="breadcrumb">
				<li>Change Password</li>
			</ol>
		</div>
	</div>

	<div class="row">

		<div class="col-lg-4">

			<form role="form">

				<div class="form-group">
					<label>Password</label> <input class="form-control"
						placeholder="Enter Password"
						data-ng-model="userInfo.Password" />
				</div>

				<div class="form-group">
					<label>Confirm Password</label> <input class="form-control"
						placeholder="Enter Confirm Password"
						data-ng-model="userInfo.ConfirmPassword" />
				</div>


				<button type="submit" class="btn btn-primary"
					data-ng-click="changePassword(userInfo)">Change Password</button>

			</form>

		</div>

	</div>

</div>

