

    body {font-family: 'Roboto', sans-serif;background:url(../../Images/Imgs/backgroundPattern.png) repeat;clear:both;}

    /* TOP Content Styles*/
    #container{width:1024px;min-height: 400px;margin:auto;} h1{font-size:24px;font-weight:700;color:#59c810;padding-top:10px;} 
    #title{height:60px; border-bottom:5px solid #CCCCCC;margin:15px 15px 0 15px;} #title-left{float:left;width:500px;}
    #title-right{float:right;width:400px;text-align:right;}


    h2{color:#333;font-size:18px;padding-bottom:5px;font-weight:700;}
    h3{color:#333;font-size:16px;padding-bottom:5px;font-weight:700;}

/* Start For show message */
    .errorMsgDiv
     {
	    width: 100%;
   	    height: 33px;
   	    display: inline-block;
   	    background-color: #BB0000;
   	    border-radius: 3px;
   	    color: #FFFFFF;
   	    font-size: 12px;
   	    font-family: arial,helvetica,sans-serif;
   	    margin-top: 5px;
        margin-bottom: 5px;
    }

    .errorMsgInnerDiv
    {
   	    float: left;
   	    background-color: #BB0000 !important;
   	    padding: 6px 18px;
   	    margin-left: 20px;
   	    background: transparent url('../../Images/alert.gif') no-repeat left 50%;
    }
    .errorMsgClose
    {
   	    position: relative; 
   	    top: 10px; 
   	    right: 7px;
   	    float: right;
   	    cursor: pointer;
    }
    .successMsgDiv
    {
	    width: 100%;
   	    height: 33px;
   	    display: inline-block;
   	    background-color: #57995B;
   	    border-radius: 3px;
   	    color: #FFFFFF;
   	    font-size: 12px;
   	    font-family: arial,helvetica,sans-serif;
   	    margin-top: 5px;
        margin-bottom: 5px;
    }
    .successMsgInnerDiv
    {
   	    float: left;
   	    background-color: #57995B !important;
   	    padding: 6px 0px;
   	    margin-left: 20px;
    }
    .successMsgClose
    {
   	    position: relative; 
   	    top: 10px; 
   	    right: 7px;
   	    float: right;
   	    cursor: pointer;
    }
    /* End For show message */

    /* For find friend grid*/

img.findFriendsImage{
    height:160px; width: 160px;

}
.friendsElem {
    padding: 10px 0px 10px 10px;

}
.friendsInfo { margin-top: 15px;}
.friendsInfo p { }