

/* Footer Page */
#footer{width:100%;height:40px;background:url(../../Images/Imgs/footerBackground.jpg) repeat;clear:both;}
#footer-container{width:1024px;height:40px;margin:auto;}

#footerlogo{float:left;width:200px;margin-left:10px;padding-top:15px;} 
#footernav{float:left;width:460px;} 
#footernav ul{padding-top:10px;}
#footernav li{display:inline;list-style:none;} 
#footernav a{text-decoration:none;border:none;padding-right:15px;color:#fff;font-weight:400;font-size:13px;}

#footercopyright{float:left;font-size:12px;color:#CCCCCC;padding-top:10px;width:300px;}

#sociallinks{float:right;height:20px;padding-top:10px;margin-right:15px;}

#footerlogo img {}

/*For sticky footer*/
* {margin: 0;}
html, body {height: 100%;}
.sticky-wrapper {min-height: 100%;height: auto !important;height: 100%;margin: 0 auto -40px;}
.footer, .web-push {height: 40px;}

