
/* TOP HEADER BAR*/
#header{width:100%;height:80px;border-bottom:5px solid #333333;background:#FFFFFF;}
#headerLogin{width:100%;height:80px;border-bottom:5px solid #333333;background:#FFFFFF;}

#header-container{width:1024px;height:80px;margin:auto;}
#logo {float:left;padding: 10px 20px 0 10px;}
#nav {float:left;padding:30px 0 0 0;font-size:13px;} 
#nav li{display:inline;list-style:none;} 
#nav a{text-decoration:none;border:none;padding-right:15px;color:#333333;font-weight:700; cursor: pointer} 
#nav a:hover{color:#59c810;} #nav a.navTabIsCurrent{color:#59c810;}

#loggedin{float:right;width:340px;padding-top:15px;color:#666666;text-align:right;} 
.playername{font-size:16px;font-weight:700;line-height:1em;} 
#loggedin a{text-decoration:none;color:#59c810;font-size:14px;} 
#loggedin a:hover{color:#974aa3;cursor: pointer;} 
#loggedinleft{float:right;padding: 10px 20px 0 0;text-align:right;} 
#loggedinright{float:right;margin-right:15px;width:55px;margin-top: -12px;}
#logo img{/*height: 60px;width: 80px;*/}
