
    .login {
        margin: 100px auto;
    }
    .applicationname {
        border: 0px solid #ccc;
        width: 515px;
        margin-top : 10px;
        margin-bottom : 10px;
        margin-left : 329px;
    }
    .applicationname h1 {
        font-size: 24px;
        font-weight: normal;
        line-height: 1.25;
        color: gray;
    }
    
    .logindiv {
        border: 1px solid #ccc;
        border-radius: 5px;
        background: #FFFFFF;
        padding: 5px 30px;
        margin: 10px 270px;
        width: 460px;
        min-width: 460px;
        min-height: 230px;
    }
    
    div.logindiv h1 {
        font-size: 24px;
        font-weight: normal;
        line-height: 1.25;
        color: gray;
    }
    
    div.logindiv > section {
        display: inline-block;
        position: relative;
        border-top: 1px solid #ccc;
        padding: 20px 0 0;
        margin-top: 10px;
        width: 100%;
    }
    .field-group {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        clear: both;
        padding: 4px 0 4px 145px;
        position: relative;
        margin: 1px 0;
        width: 100%;
    }
    
    .field-group > label {
        float: left;
        margin-left: -145px;
        padding: 5px 0 0 0;
        position: relative;
        text-align: right;
        width: 130px;
        word-wrap: break-word;
    }
    
    .buttons-container {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        clear: both;
        margin: 1px 0 0 0;
        padding: 4px 0 4px 145px;
        position: relative;
        width: 100%;
    }
    
    
    
    .forgot-password {
        margin-left: 10px;
    }
    
    .nbr
    {
	    float: right;
    }
    .signin
    {
	    float: left;
    }
.googlebtn {

    margin-left: 260px;
margin-top: -51px;
}