﻿
<!DOCTYPE html>
<html lang="en" data-ng-app="cwcApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title data-ng-bind-template="{{pageTitle}}"></title>
    <link href="favicon.ico" type="image/x-icon" rel="icon" > 
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> 

</head>
    <body>
        
        <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" href="Content/Custom/Font.css" />
        <link rel="stylesheet" type="text/css" href="Content/Custom/Login.css" />
        <link rel="stylesheet" type="text/css" href="Content/Custom/Header.css" />
        <link rel="stylesheet" type="text/css" href="Content/Custom/Body.css" />
        <link rel="stylesheet" type="text/css" href="Content/Custom/Footer.css" />
        <link rel="stylesheet" type="text/css" href="Content/Custom/Home.css"  />
        <!-- Lib CSS -->
        <link rel="stylesheet" type="text/css" href="Content/Vendor/Bootstrap/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="Content/Vendor/Bootstrap/bootstrap.css" /> 
        <link rel="stylesheet" type="text/css" href="Content/Vendor/chosen.css" />
        <link rel="stylesheet" type="text/css" href="Content/Vendor/select2.css" />
        <link rel="stylesheet" type="text/css" href="Content/Vendor/Others/loader.css" />
        <link rel="stylesheet" type="text/css" href="Content/Vendor/Others/ng-grid.css" />
        <link rel="stylesheet" type="text/css" href="Content/Vendor/Others/datagrid.css" />
        <link rel="stylesheet" type="text/css" href="Content/Vendor/jquery-ui.css" />
        <link rel="stylesheet" type="text/css" href="Content/Vendor/FontAwesome/css/font-awesome.css"/>

        
        <div class="sticky-wrapper">
            <div data-ng-include="partial.header.location" id="header" data-ng-show="partial.header.isVisible"></div>
            <div data-ng-include="partial.headerLogin.location" id="headerLogin" data-ng-show="!partial.header.isVisible"></div>
            <div id="container" data-ng-view></div>
            <div class="web-push"></div>
        </div>
        <div class="footer" data-ng-include="partial.footer.location" id="footer" data-ng-show="true"></div>
        
        <!-- Loading Window -->
        <div id="overlay" class="web_dialog_overlay"></div>
        <div id="dialog" class="web_dialog"></div>
        
    
        <!-- Lib JS -->
        <script type="text/javascript" src="Scripts/Vendors/JQuery/jquery-1.9.1.js"></script>
        <script type="text/javascript" src="Scripts/Vendors/JQuery/jquery-ui.js"></script>
        <script type="text/javascript" src="Scripts/Vendors/JQuery/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="Scripts/Vendors/Others/jquery.easing-1.3.pack.js"></script>
        <script type="text/javascript" src="Scripts/Vendors/Others/jquery.mousewheel-3.0.4.pack.js"></script>
        <script type="text/javascript" src="Scripts/Vendors/Others/jquery.dataTables.js"></script>
        <script type="text/javascript" src="Scripts/Vendors/Others/jquery.mousewheel.js"></script>
        <script type="text/javascript" src="Scripts/Vendors/Others/jquery.numeric.js"></script>
        <script type="text/javascript" src="Scripts/Vendors/Others/chosen.jquery.js"></script>
        <script type="text/javascript" src="Scripts/Vendors/Others/select2.js"></script>
        <script type="text/javascript" src="Scripts/Vendors/Others/jquery.signalR-2.0.3.js"></script>
        <!--<script src="signalr/hubs"></script>-->
        
        <!-- Angular JS -->
        <script type="text/javascript" src="Scripts/Vendors/Angular/angular.js"></script>
        <script type="text/javascript" src="Scripts/Vendors/Angular/angular-sanitize.js"></script>
        <script type="text/javascript" src="Scripts/Vendors/Angular/angular-resource.js"></script>
        <script type="text/javascript" src="Scripts/Vendors/Angular/angular-cookies.js"></script>
        <script type="text/javascript" src="Scripts/Vendors/Angular/localize.js"></script>
        <script type="text/javascript" src="Scripts/Vendors/Angular-Strap/angular-strap.js"></script>
        <script type="text/javascript" src="Scripts/Vendors/Angular/angular-ui.js"></script>
        <script type="text/javascript" src="Scripts/Vendors/Angular/ng-grid.min.js"></script>
        <script type="text/javascript" src="Scripts/Vendors/Angular/angular-file-upload.js"></script>

        <!-- Bootstrap JS -->
        <script type="text/javascript" src="Scripts/Vendors/Bootstrap/bootstrap.js"></script>
        <script type="text/javascript" src="Scripts/Vendors/UI-Bootstrap/ui-bootstrap-0.4.0.js"></script>
        <script type="text/javascript" src="Scripts/Vendors/Bootstrap/bootstrap.file-input.js"></script>

        <!-- Custom JS -->
        <script type="text/javascript" src="Scripts/app.js"></script>
        
        <script type="text/javascript" src="Scripts/Utils/HubServices.js"></script>

        <!-- Controller JS -->
        <script type="text/javascript" src="Scripts/Controllers/Security/SignInController.js"></script>
        <script type="text/javascript" src="Scripts/Controllers/Security/TopMenuController.js"></script>
        <script type="text/javascript" src="Scripts/Controllers/Security/PasswordController.js"></script>
        <script type="text/javascript" src="Scripts/Controllers/Security/UserController.js"></script>
        <script type="text/javascript" src="Scripts/Controllers/Others/MessageController.js"></script>
        <script type="text/javascript" src="Scripts/Controllers/Others/TestController.js"></script>
        <script type="text/javascript" src="Scripts/Controllers/App/QuestionController.js"></script>
        <script type="text/javascript" src="Scripts/Controllers/App/ProfileController.js"></script>
        <script type="text/javascript" src="Scripts/Controllers/App/TimeLineController.js"></script>
        <script type="text/javascript" src="Scripts/Controllers/App/FindFriendController.js"></script>
        <script type="text/javascript" src="Scripts/Controllers/App/PendingRequestController.js"></script>
        <script type="text/javascript" src="Scripts/Controllers/App/MyFriendsController.js"></script>
        <!-- Utils Service JS -->
        <script type="text/javascript" src="Scripts/Utils/ConfigurationService.js"></script>
        <script type="text/javascript" src="Scripts/Utils/NavigationService.js"></script>
        <script type="text/javascript" src="Scripts/Utils/CookiesService.js"></script>
        <script type="text/javascript" src="Scripts/Utils/ConstantService.js"></script>
        <script type="text/javascript" src="Scripts/Utils/LoadService.js"></script>
        <script type="text/javascript" src="Scripts/Utils/MenuUtilsService.js"></script>
        <script type="text/javascript" src="Scripts/Utils/LocalStorageService.js"></script>
        <script type="text/javascript" src="Scripts/Utils/ModalService.js"></script>
        <script type="text/javascript" src="Scripts/Utils/google-plus-signin.js"></script>

        <!-- Service JS -->
        <script type="text/javascript" src="Scripts/Services/Others/MessageService.js"></script>
        <script type="text/javascript" src="Scripts/Services/Security/SignInService.js"></script>
        <script type="text/javascript" src="Scripts/Services/Security/PasswordService.js"></script>
        <script type="text/javascript" src="Scripts/Services/Security/UserService.js"></script>
        <script type="text/javascript" src="Scripts/Services/App/QuestionService.js"></script>
        <script type="text/javascript" src="Scripts/Services/App/TimeLineService.js"></script>
        <script type="text/javascript" src="Scripts/Services/App/PendingRequestService.js"></script>
        <script type="text/javascript" src="Scripts/Services/App/MyFriendsService.js"></script>
        <script type="text/javascript" src="Scripts/Utils/GoogleApiService.js"></script>

        <!-- Directive JS -->
        <script type="text/javascript" src="Scripts/Directives/DataTableDirective.js"></script>
        <script type="text/javascript" src="Scripts/Directives/TestDirective.js"></script>
        
        



    <!--Script references. -->
    <!--Reference the jQuery library. -->
    <!--Reference the SignalR library. -->
    <script src="Scripts/Vendors/SignalR/jquery.signalR-2.0.0.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="/signalr/hubs"></script>
    <link type="text/css" href="Content/Custom/beeper.css" rel="stylesheet" />
    <script src="Scripts/Vendors/SignalR/jquery.facebookBeeper.js"></script>
    <!--Add script to update the page and send messages.-->
    <script type="text/javascript">
            

            //Initialize two sound clips with 1 fallback file each:


            $(function () {
                var timerId, delay = 5000;

                // Declare a proxy to reference the hub.
                var chat = $.connection.notificationHub;
                // Create a function that the hub can call to broadcast messages.
                chat.client.broadcastMessage = function (name, message) {
                    // Html encode display name and message.
                    //alert(name + " " + message);
                    // document.getElementById("messageBox").nodeValue = message;
                    $("#BeeperBox").show();
                    $(".blueName").text(message);
                    setTimeout(function () {
                        $("#BeeperBox").hide();
                    }, delay);


                };
                // Start the connection.
                $.connection.hub.start().done(function () {
                });
            });
        </script>
        <div id="BeeperBox" class="UIBeeper">
             <div class="UIBeeper_Full">
                <div class="Beeps">
                   <div class="UIBeep UIBeep_Top UIBeep_Bottom UIBeep_Selected" style="opacity: 1; ">
                   <!-- Below Is The Link To Which Bepper Will Point To (replace # with the required link) -->
                      <a class="UIBeep_NonIntentional" href="#">
                         <div class="UIBeep_Icon">
                            <i class="beeper_icon image2"></i>
                         </div>
                         <span class="beeper_x">&nbsp;</span>
                         <div class="UIBeep_Title">
                            <span id="messageBox" class="blueName"></span>.
                         </div>
                      </a>
                   </div>
                </div>
             </div>
          </div>

    </body>
</html>
