﻿
<div data-ng-controller="messageController">
    <div class="errorMsgDiv" data-ng-show="isErrorMsgVisible">
        <div class="errorMsgInnerDiv">
            <span data-i18n="{{txtErrorMessage}}"></span>
        </div>
        <img data-ng-click="closeErrorMsg()" class="errorMsgClose" title="Close" src="../../Images/errorCross.png">
        <br style="clear: left;" />
    </div>

    <div class="successMsgDiv" data-ng-show="isSuccessMsgVisible">
        <div class="successMsgInnerDiv">
            <span data-i18n="{{txtSuccessMessage}}"></span>
        </div>
        <img data-ng-click="closeErrorMsg()" class="successMsgClose" title="Close" src="../../Images/successCross.png">
        <br style="clear: left;" />
    </div>
</div>
